::selection{
    color: white;
    background-color: #bf0202;
}
.first_design .card{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid #bf0202;
    border-radius: 0px !important;
    box-shadow: 0 0 20px 0 rgba(97, 97, 97, 0.247);
    max-width: 400px;
}
.first_design .card:hover{
    box-shadow: 0 0 20px 0 rgba(97, 97, 97, 0.340);
}
.first_design .card:hover .product_title{
    text-decoration: underline;
}
.first_design .card .product_image{
    height: 240px;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
}
.first_design .card img{
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all linear 0.2s;
}
.first_design .card img:hover{
    transform: scale(1.05);
}
.first_design .card .card-header{
    background-color: white;
    text-align: center;
    border-bottom: none;
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0;
    border-radius: 20px 20px 0 0;
}
.first_design .card-header span.product_sku{
    font-size: 16px;
    color: #bf0202;
    font-family:  Montserrat, sans-serif;
}
.first_design .card-header span.product_title{
    color: #bf0202;
    font-weight: bold;
    font-size: 22px;
}
.first_design .card-header span.product_title:hover{
    cursor: pointer;
}
.first_design .card-header .dimension_image{
    height: 25px;
    opacity: 0.4;
}
.first_design .card-header .dimension_image:hover{
    opacity: 1;
}
.first_design .card-header .product_dimensions h6{
    margin-bottom: 0;
}
.first_design .card-header .product_dimensions h6 span{
    text-transform: capitalize;
}
.first_design .card-body{
    position: relative;
}
.first_design .product_dimensions .width_dimension:hover , .product_dimensions .length_dimension:hover , .product_dimensions .height_dimension:hover{
    background-color: #f5f7f9;
}
.first_design .buttons{
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first_design .buttons button{
    border: none;
    border-radius: none !important;
    padding: 15px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first_design .buttons button.cell_phone a{
    text-decoration: none !important;
    font-size: 10px;
    color: white;
}
.first_design .buttons button.price_request a{
    color: black;
    text-decoration: none;
}
.first_design .buttons .price_request{
    border : 1px solid black;
    background-color: white;
    color: black;
    position: absolute;
    bottom: 0%;    
    transform: translateY(50%);
    left: 5%;
}
.first_design .buttons .cell_phone{
    background: #bf0202;
    border: 1px solid #bf0202;
    position: absolute;
    bottom: 0%;    
    transform: translateY(50%);
    right: 5%;
}


/* second desing */
.second_design .card{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid #bf0202;
    border-radius: 0px !important;
    box-shadow: 0 0 20px 0 rgba(97, 97, 97, 0.247);
    max-width: 400px;
}
.second_design .card:hover{
    box-shadow: 0 0 20px 0 rgba(97, 97, 97, 0.340);
}
.second_design .card .product_image{
    height: 240px;
    width: 100%;
    cursor: pointer;
}
.second_design .card img{
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all linear 0.2s;
}
.second_design .card img:hover{
    transform: scale(1.05);
}
.second_design .card .card-header{
    background-color: white;
    text-align: center;
    min-height: 160px;
    border-bottom: none;
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
}
.second_design .card-header span.product_sku{
    font-size: 16px;
    color: #bf0202;
    font-family:  Montserrat, sans-serif;
}
.second_design .card-header span.product_title{
    color: #bf0202;
    font-weight: bold;
    font-size: 22px;
    flex: 1;
}
.second_design .card-header span.product_title:hover{
    cursor: pointer;
}
.second_design .card-header .dimension_image{
    height: 25px;
    opacity: 0.4;
}
.second_design .card-header .dimension_image:hover{
    opacity: 1;
}
.second_design .card-header .product_dimensions h6{
    margin-bottom: 0;
}
.second_design .card-header .product_dimensions h6 span{
    text-transform: capitalize;
}
.second_design .card-body{
    position: relative;
}
.second_design .product_dimensions .width_dimension:hover , .product_dimensions .length_dimension:hover , .product_dimensions .height_dimension:hover{
    background-color: #f5f7f9;
}
.second_design .buttons{
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second_design .buttons button{
    border: none;
    border-radius: none !important;
    padding: 15px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second_design .buttons button:hover{
    box-shadow: 0 0 10px rgba(53, 53, 53, 0.26);
}
.second_design .buttons button.cell_phone a{
    text-decoration: none !important;
    font-size: 10px;
    color: white;
}
.second_design .buttons button.price_request a{
    color: black;
    text-decoration: none;
}
.second_design .buttons .price_request{
    border : 1px solid black;
    background-color: white;
    color: black;
}
.second_design .buttons .cell_phone{
    background: #bf0202;
    border: 1px solid #bf0202;
}












/* third design */


/* second desing */
.third_design .card{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    border: none;
    border: 1px solid #bf0202;
    border-radius: 0px !important;
    box-shadow: 0 0 20px 0 rgba(97, 97, 97, 0.247);
    max-width: 400px;
}
.third_design .card:hover{
    box-shadow: 0 0 20px 0 rgba(97, 97, 97, 0.340);
}
.third_design .card .product_image{
    height: 240px;
    width: 100%;
    cursor: pointer;
}
.third_design .card img{
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all linear 0.2s;
}
.third_design .card img:hover{
    transform: scale(1.05);
}
.third_design .card .card-header{
    background-color: white;
    text-align: center;
    min-height: 250px;
    border-bottom: none;
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
}
.third_design .card-header span.product_sku{
    font-size: 16px;
    color: #bf0202;
    font-family:  Montserrat, sans-serif;
}
.third_design .card-header span.product_title{
    color: #bf0202;
    font-weight: bold;
    font-size: 22px;
    flex: 1;
}
.third_design .card-header span.product_title:hover{
    cursor: pointer;
}
.third_design .card-header .dimension_image{
    height: 25px;
    opacity: 0.4;
}
.third_design .card-header .dimension_image:hover{
    opacity: 1;
}
.third_design .card-header .product_dimensions h6{
    margin-bottom: 0;
}
.third_design .card-header .product_dimensions h6 span{
    text-transform: capitalize;
}
.third_design .card-body{
    position: relative;
}
.third_design .product_dimensions .width_dimension:hover , .product_dimensions .length_dimension:hover , .product_dimensions .height_dimension:hover{
    background-color: #f5f7f9;
}
.third_design .buttons{
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.third_design .buttons button{
    border: none;
    border-radius: none !important;
    padding: 15px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.third_design .buttons button:hover{
    box-shadow: 0 0 10px rgba(53, 53, 53, 0.26);
}
.third_design .buttons button.cell_phone a{
    text-decoration: none !important;
    font-size: 10px;
    color: white;
}
.third_design .buttons button.price_request a{
    color: black;
    text-decoration: none;
}
.third_design .buttons .price_request{
    border : 1px solid black;
    background-color: white;
    color: black;
}
.third_design .buttons .cell_phone{
    background: #bf0202;
    border: 1px solid #bf0202;
}

@media screen and (min-width : 400px) {
    .first_design .buttons button a{
        font-size: 14px !important;
    }
    .first_design .buttons button{
        padding: 15px 20px;
    }
}

@media screen and (min-width : 1000px) {
    .first_design .buttons button a{
        font-size: 14px !important;
    }
    .first_design .buttons button{
        padding: 15px 20px;
    }
}



@media screen and (min-width : 400px) {
    .second_design .buttons button a{
        font-size: 14px !important;
    }
    .second_design .buttons button{
        padding: 15px 20px;
    }
}

@media screen and (min-width : 1000px) {
    .second_design .buttons button a{
        font-size: 14px !important;
    }
    .second_design .buttons button{
        padding: 15px 20px;
    }
}



@media screen and (min-width : 400px) {
    .third_design .buttons button a{
        font-size: 14px !important;
    }
    .third_design .buttons button{
        padding: 15px 20px;
    }
}

@media screen and (min-width : 1000px) {
    .third_design .buttons button a{
        font-size: 14px !important;
    }
    .third_design .buttons button{
        padding: 15px 20px;
    }
}



























@media screen and (min-width : 400px) {
    .first_design .buttons button a{
        font-size: 14px !important;
    }
    .first_design .buttons button{
        padding: 15px 20px;
    }
}

@media screen and (min-width : 1000px) {
    .first_design .buttons button a{
        font-size: 14px !important;
    }
    .first_design .buttons button{
        padding: 15px 20px;
    }
}


























































































.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .flex-centerY-centerX {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }


  .el-wrapper {
    max-width: 100%;
    padding: 15px;
    margin: 15px auto;
    background-color: #fff;
  }
  
  .el-wrapper:hover .h-bg {
    left: 0px;
  }
  
  .el-wrapper:hover .request_price {
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #818181;
  }
  
  .el-wrapper:hover .phone_no {
    left: 70%;
  }
  
  .el-wrapper:hover .img {
    webkit-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
    opacity: 0.2;
  }
  
  .el-wrapper:hover .info-inner {
    bottom: 155px;
  }
  
  .el-wrapper:hover .product_dimensions {
    -webkit-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    bottom: 50px;
    opacity: 1;
  }
  /* .height_dimension , .length_dimension , .width_dimension{
    max-width: 70px;
  } */
  .dimension_image{
    height: 20px;
  }
  .el-wrapper:hover .request_price , .el-wrapper:hover .phone_no{
    color: white;
  }
  .dimension_image:hover{
    background-color: transparent;
  }
  .el-wrapper .box-down {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
  }
  
  .el-wrapper .box-up {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  
  .el-wrapper .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 20px 0;
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
  }
  
  .h-bg {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    width: 660px;
    height: 100%;
    background-color: #bf0202;
    position: absolute;
    left: -659px;
  }
  
  .h-bg .h-bg-inner {
    width: 80%;
    height: 100%;
    background-color: #464646;
  }
  .third_design .height_dimension:hover ,  .third_design .length_dimension:hover ,  .third_design .width_dimension:hover{
    background-color: transparent !important;
  }
  .info-inner {
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: 25px;
  }
  
  .info-inner .p-name {
    display: block;
    padding: 0 10px;
  }
  
  .info-inner .p-name {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: bold;
  }
  .box-up:hover .p-name{
    color: #bf0202;
  }
  .product_dimensions {
    -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: -20px;
    font-family: 'PT Sans', sans-serif;
    color: #828282;
    opacity: 0;
  }

  .product_dimensions{

  }
  .cart {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
  
  .cart .request_price {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #252525;
  }
  
  .cart .phone_no {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 110%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .cart .phone_no .txt {
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    white-space: nowrap;
  }
  

  @media (max-width: 991px) {
    .el-wrapper {
      width: 345px;
    }
  }
  
  @media (max-width: 767px) {
    .el-wrapper {
      width: 290px;
      margin: 30px auto;
    }
  }